.text-field{
    &:hover .notchedOutline{
        color:  rgb(255, 255, 255) !important;
        border-color:rgb(255, 255, 255) !important;
    }

    .root{
        color:  rgb(255, 255, 255) !important;
        border-color:rgb(255, 255, 255) !important;
    }
    .focused{
        color:  rgb(255, 255, 255) !important;
        border-color:rgb(255, 255, 255) !important;
    }
    .input{
        height: 1.8em;
    }
    .notchedOutline{
        &:hover{
            color:  rgb(255, 255, 255) !important;
            border-color:rgb(255, 255, 255) !important;
        }
        color:rgba(255, 255, 255, 0.23) !important;
        border-color:rgba(255, 255, 255, 0.23) !important;
    }
}
.fad-button{
    width: 16em !important;
    letter-spacing:0.3em !important;
    .label{
        font-size: 1rem;
    }
}