

body, div,p,section{
    padding: 0;
    margin: 0;
}

body{
    width: 280px;
    min-height: 300px;
    background-color:#1c1c1c;
    display: flex;
    justify-content: center;
    align-self: center;
}

#root{
    border: 2px 2px 0 2px #1c1c1c  solid;
    width: 100%;
    background-color: rgb(44,47,50);
}

// .text-field{
//     label{
//         color:  rgba(255, 255, 255, 0.23) !important;
//     }
//     fieldset{
//         border-color:rgba(255, 255, 255, 0.23) !important;
//     }
// }